<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="kr.or.iei.emp.model.vo.Emp" alias="emp"/>
		<typeAlias type="kr.or.iei.emp.model.vo.Dept" alias="dept"/>
		<typeAlias type="kr.or.iei.emp.model.vo.Team" alias="team"/>
		<typeAlias type="kr.or.iei.emp.model.vo.Rank" alias="rank"/>
		<typeAlias type="kr.or.iei.emp.model.vo.Alarm" alias="alarm"/>
		<typeAlias type="kr.or.iei.project.model.vo.Project" alias="project"/>
		<typeAlias type="kr.or.iei.emp.model.vo.Commute" alias="commute"/>
		<typeAlias type="kr.or.iei.project.model.vo.ProjectPartemp" alias="projectPartemp"/>
		<typeAlias type="kr.or.iei.emp.model.vo.Chat" alias="chat"/>
		<typeAlias type="kr.or.iei.document.model.vo.Document" alias="document"/>
		<typeAlias type="kr.or.iei.document.model.vo.DocumentType" alias="documentType"/>
		<typeAlias type="kr.or.iei.document.model.vo.DocumentSign" alias="documentSign"/>
		<typeAlias type="kr.or.iei.emp.model.vo.DailyReport" alias="dailyReport"/>
		<typeAlias type="kr.or.iei.document.model.vo.DocumentSelectDay" alias="selDay"/>
		<typeAlias type="kr.or.iei.document.model.vo.VacationHalf" alias="vacHalf"/>
		<typeAlias type="kr.or.iei.document.model.vo.DocumentFile" alias="file"/>
		<typeAlias type="kr.or.iei.document.model.vo.DocumentSign" alias="sign"/>
		<typeAlias type="kr.or.iei.document.model.vo.DocumentReference" alias="ref"/>
		<typeAlias type="kr.or.iei.emp.model.vo.DailyReport" alias="dailyReport"/>
		<typeAlias type="kr.or.iei.document.model.vo.Spending" alias="spending"/>
		<typeAlias type="kr.or.iei.document.model.vo.Sales" alias="sales"/>
		<typeAlias type="kr.or.iei.emp.model.vo.DevelopPrice" alias="developPrice"/>
		<typeAlias type="kr.or.iei.vote.model.vo.Vote" alias="vote"/>
		<typeAlias type="kr.or.iei.vote.model.vo.VotePaging" alias="votePaging"/>
		<typeAlias type="kr.or.iei.vote.model.vo.VoteList" alias="voteList"/>
		<typeAlias type="kr.or.iei.vote.model.vo.VoteEmpList" alias="VoteEmpList"/>

		<typeAlias type="kr.or.iei.emp.model.vo.Check" alias="empCheck"/>
		<typeAlias type="kr.or.iei.document.model.vo.Estimate" alias="estimate"/>
		<typeAlias type="kr.or.iei.document.model.vo.Business" alias="business"/>
		
	</typeAliases>
</configuration>
