<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="document">
	<!-- 달력에 문서 목록 출력 -->
	<select id="apiDocumentList" parameterType="string"
		resultType="document">
		select distinct
		tbl_document.document_code as documentCode,
		tbl_document.document_type_code as documentTypeCode,
		tbl_document.document_title as documentTitle,
		tbl_document.document_content as documentContent,
		tbl_document.emp_code as empCode,
		to_char(tbl_document.document_date, 'YYYYMMDD HH:MI') as documentDate,
		tbl_document_type.document_type_name as documentTypeName,
        tbl_document_sign.sign_yn as progress
		from tbl_document 
		join tbl_document_type
		on tbl_document.document_type_code = tbl_document_type.document_type_code
        join tbl_document_sign
        on tbl_document_sign.emp_code = tbl_document.emp_code
        where tbl_document.document_type_code != 'pj' and tbl_document.emp_code = #{empCode}
		
	</select>

	<!-- 메인화면에 출력할 문서들의 query -->
	<select id="docMain" parameterType="string"
		resultType="document">
		select distinct
			tbl_document.document_code as documentCode,
			tbl_document.document_type_code as documentTypeCode,
			tbl_document.document_title as documentTitle,
			to_char(tbl_document.document_date, 'YYYYMMDD HH:MI') as documentDate,
			tbl_emp.emp_name as empName,
			tbl_document_type.document_type_name as documentTypeName,
            tbl_document_sign.sign_yn as progress
		from tbl_document 
		join tbl_emp
		on tbl_document.emp_code = tbl_emp.emp_code
			join tbl_document_type
		on tbl_document_type.document_type_code =
			tbl_document.document_type_code
        join tbl_document_sign 
        on tbl_document.document_code = tbl_document_sign.document_code
		where tbl_document.emp_code = #{empCode} 
	</select>
	

	<select id="selectDocumentCode"
  	resultType="string">
  		select to_char(sysdate,'yyyymmdd')||lpad(seq_document.nextVal,6,'0') as document_code from dual
  	</select>
	
	<select id="selectSpendingCode"
	resultType="string">
		select to_char(sysdate,'yyyymmdd')||lpad(seq_spending.nextVal,4,'0') as document_code from dual
	</select>
	
	<insert id="insertDocument"
  	parameterType="document">
  		insert into tbl_document values(
  			#{documentCode},
  			#{documentTypeCode},
  			#{empCode},
  			#{documentTitle},
  			#{documentContent},
  			sysdate
  		)
  		
  	</insert>
  	<insert id="insertVacationHalf"
  	parameterType="vacHalf">
  		insert into tbl_half
  		values(
  			#{documentCode},
  			#{vacDate},
  			#{halfTime}
  		)
  		
  	</insert>
  	
  	<insert id="insertVacationAnnual"
  	parameterType="selDay">
  		insert into tbl_annual
  		values(
			#{documentCode},
			#{start},
			#{end}  		
  		)
  	</insert>
  	
  	<insert id="inserDocumentFile"
  	parameterType="file">
  		insert into tbl_files
  		values(
  			to_char(sysdate,'yyyymmdd')||lpad(seq_document.nextVal,4,'0'),
  			#{documentCode},
  			#{fileName},
  			#{filePath}
  		)
  	</insert>
  	
  	<insert id="insertDocumentSign"
  	parameterType="sign">
  		insert into tbl_document_sign
  		values(
  			#{documentCode},
  			#{empCode},
  			0,
  			#{documentSeq}
  		)
  	</insert>
  	
  	<insert id="insertDocumentRef"
  	parameterType="ref">
  		insert into tbl_reference
  		values(
  			#{documentCode},
  			#{empCode}
  		)
  	</insert>
  	
  	
  	
  	<insert id="insertSpending"
  	parameterType="map">
  	insert into tbl_spending
  	values(
  		#{spendingCode},
  		#{documentCode},
  		#{spendingDay},
  		#{spendingCost},
  		#{spendingContent}
  	)
  	</insert>

	
	<select id="apiPageDocType"
	resultType="documentType">
		select document_type_name as documentTypeName
		  from tbl_document_type
	</select>
	

	

</mapper>
