<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="emp">
	<select id="selectAdminEmpCode"
	resultType="string">
	select emp_code
	  from tbl_emp
	 where emp_id = 'admin'
	</select>
 	<select id="loginEmp"
 	parameterType="emp"
 	resultType="emp">
 	select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_pw as empPw,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   dept_code as deptCode
 	  from tbl_emp
 	  join tbl_team using(team_code) 
 	 where emp_id = #{empId} and emp_retire = 'n'
 	    
 	</select>
 	
 	<select id="adminChk"
 	parameterType="string"
 	resultType="_int">
 	select count(*)
 	  from tbl_dept_leader
 	 where emp_code = #{empCode}
 	</select>
 	
 	<select id="idCheck"
 	parameterType="string"
 	resultType="_int">
 	select count(*)from tbl_emp where emp_id=#{_string}
 	</select>
 	<insert id="join"
 	parameterType="emp"
 	>
 	insert into tbl_emp (
 	emp_code,
 	emp_id,
 	emp_pw,
 	emp_name,
 	emp_phone,
 	emp_retire
 	
 	)values(
 	TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_emp.NEXTVAL, 4, '0'),
 	#{empId},
 	#{empPw},
 	#{empName},
 	#{empPhone},
 	'n'
 	)
 	</insert>
 	<select id="empWaitList"
 	resultType="emp">
 	select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_pw as empPw,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate
 	  from tbl_emp
 	  where emp_code in (select * from tbl_emp_wait) 
 	</select>
 	
 	<select id="deptList"
 	resultType="dept">
 	select dept_code as deptCode,
 		   dept_name as deptName
 	  from tbl_dept  
 	</select>
 	
 	<select id="teamList"
 	resultType="team">
 	select team_code as teamCode,
 		   dept_code as deptCode,
 		   team_name as teamName
 	  from tbl_team
 	</select>
 	
 	<select id="rankList"
 	resultType="rank">
 	select rank_code as rankCode,
 		   rank_name as rankName
 	  from tbl_rank
 	</select>
 	
 	<update id="approvalEmp"
 	parameterType="emp">
 	update tbl_emp
 	   set team_code = #{teamCode},
 	       rank_code = #{rankCode}
 	 where emp_code = #{empCode}    
 	</update>
 	
 	<insert id="insertSalary"
 	parameterType="map">
 	 insert into tbl_salary
	   (
	   	emp_code,
	   	salary
	   )
  	values
	   (
	   	#{empCode},
	   	#{salary}
	   )
 	
 	</insert>
 	
 	<delete id="deleteWait"
 	parameterType="string">
 	delete 
 	  from tbl_emp_wait
 	 where emp_code = #{empCode}
 	</delete>
 	
 	<insert id="insertAdmin"
 	parameterType="emp">
 	insert into tbl_emp (
 	emp_code,
 	emp_id,
 	emp_pw,
 	emp_name,
 	emp_phone,
 	emp_retire,
 	team_code,
 	rank_code
 	
 	)values(
 	TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_emp.NEXTVAL, 4, '0'),
 	#{empId},
 	#{empPw},
 	#{empName},
 	#{empPhone},
 	#{empRetire},
 	#{teamCode},
 	#{rankCode}
 	)
 	</insert>
 	
	<select id="filterEmp"
	parameterType="map"
	resultType="emp">
		select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_pw as empPw,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   rank_name as rankName
 	  from tbl_emp
 	  join tbl_rank using(rank_code) 
 	 where team_code = #{teamCode}

	</select>
 	
 	 <select id="chatEmpList"
     parameterType="string"
     resultType="emp">
       select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   dept_code as deptCode,
 		   (select fromEmp.read_count
			  from tbl_chat_group fromEmp
			  JOIN tbl_chat_group toEmp
				ON fromEmp.group_no = toEmp.group_no
			 WHERE fromEmp.emp_code = e.emp_code
               AND toEmp.emp_code = #{empCode}) as readCount
 	  from tbl_emp e
 	  join tbl_team using(team_code)
 	 where emp_code is not null and emp_code != #{empCode}
     </select>
 	<select id="selectChatGroup"
 	parameterType="map"
 	resultType="string">
 	select group_no 
 	  from tbl_chat_group 
 	 where emp_code in (#{from}, #{to}) 
 	 group by group_no
 	having count(emp_code) > 1
 	</select>
 	
 	<select id="getGroupNo" resultType="string">
	select TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_chat_group.NEXTVAL, 4, '0') from dual
	</select>
 	
 	
 	<insert id="insertChatGroup"
 	parameterType="map">
 	insert into tbl_chat_group
 	(
 	group_no,
 	emp_code
 	)
 	values(
	#{groupNo}, 		
 	#{empCode}
 	)
 	</insert>
 	
 	<select id="selectChatList"
 	parameterType="string"
 	resultType="chat">
 	select emp_code as empCode,
 		   group_no as groupNo,
 		   msg_gb as chatMsgGb,
 		   msg as chatMsg,
 		   file_name as chatFileName,
 		   file_path as chatFilePath,
 		   msg_date as chatDate,
 		   emp_name as empName
 	  from tbl_chat
 	  join tbl_emp using(emp_code)
 	 where group_no = #{groupNo}
 	</select>
 	
 	<insert id="insertChat"
 	parameterType="chat">
 	insert into tbl_chat
 	(
 	chat_no,
 	group_no,
 	emp_code,
 	msg_gb,
 	msg,
 	file_name,
 	file_path,
 	msg_date
 	)
 	values(
 	TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') || LPAD(seq_chat.NEXTVAL, 4, '0'),
 	#{groupNo},
 	#{empCode},
 	#{chatMsgGb},
 	#{chatMsg},
 	#{chatFileName},
 	#{chatFilePath},
 	sysdate
 	)
 	</insert>
 	
 	<select id="empManagerList"
 	resultType="emp">
 	select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   dept_code as deptCode,
           salary as salary,
           total_vacation as vacationTotal,
           use_vacation as vacationUse
 	  from tbl_emp
 	  join tbl_team using(team_code)
      join tbl_salary using(emp_code)
      join tbl_vacation_count using(emp_code)
 	 where emp_code is not null
 	</select>
 	
 	<insert id="insertVacation"
 	parameterType="string">
 	insert into tbl_vacation_count
 	(
 	emp_code
 	)
 	values(
 	#{empCode}
 	)
 	</insert>
 	
 	<update id="adminUpdateEmp"
 	parameterType="emp">
 	update tbl_emp
 	   set team_code = #{teamCode},
 	   	   rank_code = #{rankCode}
 	 where emp_code = #{empCode}
 	</update>
 	
 	<update id="updateSalary"
 	parameterType="emp">
 	  update tbl_salary
        set salary = #{salary},
            salary_type = 1
      where emp_code = #{empCode}
 	</update>
 	
 	<update id="updateVacation"
 	parameterType="emp">
 	update tbl_vacation_count
 	   set total_vacation = #{vacationTotal},
 	       use_vacation = #{vacationUse}
 	 where emp_code = #{empCode} 
 	</update>
 	
 	<insert id="reportCreate"
 	parameterType="dailyReport">
 		insert into tbl_daily_report
 			(
 				report_date,
 				emp_code,
 				report_content
 			)
 			values
 			(
 				sysdate,
 				#{empCode},
 				#{reportContent}
 			)
 	</insert>
 	
 	<update id="chatAddReadCount"
     parameterType="chat">
     update tbl_chat_group
        set read_count = read_count +1
      where group_no = #{groupNo} 
        and emp_code = #{empCode}
     </update>
     
     <update id="chatReSetReadCount"
     parameterType="map">
     update tbl_chat_group
        set read_count = 0
      where group_no = #{groupNo} 
        and emp_code != #{empCode}
     </update>
     
     <select id="dailyReportView"
     parameterType="string"
     resultType="dailyReport">
     	SELECT 
            report_date AS reportDate,
            emp_code AS empCode,
            report_content AS reportContent
        FROM tbl_daily_report
        WHERE report_date = TRUNC(SYSDATE) 
          AND emp_code = #{empCode}
     </select>
     
     <select id="checkReport"
     parameterType="string"
     resultType="int">
     	select 
     		count(*)
     	from tbl_daily_report
     	where report_date = TRUNC(SYSDATE) 
     	and emp_code = #{empCode}
     </select>
     
     <update id="dailyReportUpdate"
     parameterType="string">
     	 UPDATE tbl_daily_report
    SET report_content = #{reportContent}
    WHERE emp_code = #{empCode}
      AND report_date = TRUNC(SYSDATE)	
     </update>
 
     <select id="loadAlarmList"
     parameterType="alarmPaging"
     resultType="alarm">
      select alarm_no as alarmNo,
             alarm_comment as alarmComment,
     		 ref_url as refUrl,
     		 url_param as urlParam,
     		 alarm_read as alarmRead,
     		 alarm_date as alarmDate 
       from 
           (
            select rownum rnum, a.* 
              from 
                  (
                   select * 
                     from tbl_alarm 
                    where emp_code = #{empCode} 
                    order by alarm_date desc
                  ) a 
            )
           where rnum between #{startCount} and #{endCount}
     </select>
     
     <update id="alarmRead"
     parameterType="string">
     update tbl_alarm
        set alarm_read = 'y'
      where alarm_no = #{alarmNo}
     </update>
     
     <select id="chkOnWorkToday"
     parameterType="map"
     resultType="_int">
     select count(*)
       from tbl_check
      where att_date = #{day} and emp_code = #{empCode}
     </select>
     
     <insert id="insertOnWork"
     parameterType="string">
     insert into tbl_check
     (
     	att_date,
     	emp_code,
     	check_in
     )
     values
     (
     	TO_CHAR(SYSDATE, 'YYYYMMDD'),
     	#{empCode},
     	TO_CHAR(SYSDATE, 'HH24MISS')
     )
     </insert>
     
      <select id="selectToday"
     parameterType="map"
     resultType="commute">
     select att_date as attDate,
     		emp_code as empCode,
     		check_in as onWork,
     		check_out as offWork,
     		check_note as checkNote
       from tbl_check
      where att_date = #{day} and emp_code = #{empCode}
     </select>
     <update id="updateOffWork"
     parameterType="map">
     update tbl_check
        set check_out = TO_CHAR(SYSDATE, 'HH24MISS')
      where att_date = #{day} and emp_code = #{empCode}
     </update>
     
     <update id="updateEmp"
     parameterType="emp">
     update tbl_emp
        set emp_name = #{empName},
         	emp_phone = #{empPhone}
      where emp_code = #{empCode}
     </update>
     
     <select id="selectEmp"
     parameterType="string"
     resultType="emp">
     select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_pw as empPw,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   dept_code as deptCode
 	  from tbl_emp
 	  join tbl_team using(team_code) 
 	 where emp_code = #{empCode} 
     </select>
     
     <update id="updatePw"
     parameterType="emp">
     update tbl_emp
        set emp_pw = #{empPw}
      where emp_code = #{empCode}
     </update>
     
     <select id="selectDevelopsPrice"
     resultType="developPrice">
     select dept_code as deptCode, 
             dept_name as deptName, 
             team_code as teamCode, 
             team_name as teamName, 
             rank_code as rankCode, 
             rank_name as rankName, 
             price as price 
       from tbl_day_price 
       join tbl_team using(team_code) 
       join tbl_rank using(rank_code) 
       join tbl_dept using(dept_code)
       where dept_code in ('RI','DD') 
     </select>
     
     <select id="selectDevelopPriceChk"
     parameterType="developPrice"
     resultType="int">
     select count(*)
       from tbl_day_price
      where team_code = #{teamCode} and rank_code = #{rankCode}
     </select>
     
     <update id="updateDevelopPrice"
     parameterType="developPrice">
     update tbl_day_price
        set price = #{price}
      where team_code = #{teamCode} and rank_code = #{rankCode} 
     </update>
     
     <insert id="insertDevelopPrice"
     parameterType="developPrice">
     insert into tbl_day_price
     (
     team_code,
     rank_code,
     price
     )
     values
     (
     #{teamCode},
     #{rankCode},
     #{price}
     )
     </insert>
     
     <select id="selectDeptLeaderList"
     resultType="emp">
     select dept_code as deptCode, 
     		emp_code as empCode,
     		emp_name as empName 
       from tbl_dept_leader 
       join tbl_emp using(emp_code)
     </select>
     
      <select id="selectTeamLeaderList"
     resultType="emp">
       select f.team_code as teamCode, 
     		  f.emp_code as empCode,
     		  e.emp_name as empName 
         from tbl_team_leader f
         join tbl_emp e on f.emp_code = e.emp_code
     </select>
     
     <select id="selectEmpList"
     resultType="emp">
     select emp_code as empCode,
     		emp_name as empName,
     		team_code as teamCode,
     		(
     		select rank_name 
     		  from tbl_rank 
     		 where rank_code = e.rank_code 
     		) as rankName,
        	(
        	select dept_code 
        	  from tbl_dept 
        	 where dept_code = t.dept_code
        	)as deptCode,
        	emp_date as empDate
       from tbl_emp e
       join tbl_team t using(team_code)
     </select>
     
     <select id="selectLeader"
     parameterType="emp"
     resultType="int">
     select count(*)
       from tbl_dept_leader
      where dept_code = #{deptCode}
     </select>
     
     <update id="updateLeader"
     parameterType="emp">
     update tbl_dept_leader
        set emp_code = #{empCode}
      where dept_code = #{deptCode}
     </update>
     
     <insert id="insertLeader"
     parameterType="emp">
     insert into tbl_dept_leader
     (
     	dept_code,
     	emp_code
     )
     values
     (
     	#{deptCode},
     	#{empCode}
     )
     </insert>
     
      <select id="selectTeamLeader"
     parameterType="emp"
     resultType="int">
     select count(*)
       from tbl_team_leader
      where team_code = #{teamCode}
     </select>
     
      <update id="updateTeamLeader"
     parameterType="emp">
     update tbl_team_leader
        set emp_code = #{empCode}
      where team_code = #{teamCode}
     </update>
     
     <insert id="insertTeamLeader"
     parameterType="emp">
     insert into tbl_team_leader
     (
     	team_code,
     	emp_code
     )
     values
     (
     	#{teamCode},
     	#{empCode}
     )
     </insert>
     
     <select id="selectAlarmCount"
     parameterType="string"
     resultType="int">
     select count(*)
       from tbl_alarm
      where emp_code = #{empCode} and alarm_read = 'n'
     </select>
     <update id="useAnnual"
     parameterType="map">
     update tbl_vacation_count
   	set
     	total_vacation = total_vacation - #{days}, 
    	use_vacation = use_vacation + #{days} 
     	where emp_code = #{writer}	
     </update>
     
     <insert id="insertAttVacation"
     parameterType="commute">
     insert into tbl_check
     (att_date,emp_code,check_note)
     values
     (#{attDate},#{empCode},#{checkNote})
     </insert>
     
     <insert id="insertAttHalf"
     parameterType="commute">
     insert into tbl_check
     (att_date,emp_code,check_note)
     values
     (#{attDate},#{empCode},#{checkNote})
     </insert>
     
     <update id="useHalf"
     parameterType="string">
     update tbl_vacation_count
   	set
     	total_vacation = total_vacation - 0.5, 
    	use_vacation = use_vacation + 0.5 
     	where emp_code = #{_string}	
     </update>
     
    <select id="selectRemainRealVac"
    parameterType="string"
    resultType="_double">
    	select
		total_vacation 
		from tbl_vacation_count where emp_code=#{_string}
    </select>
    

     <select id="empCheckMonth"
     parameterType="map"
     resultType="empCheck">
     select att_date as day,
             check_in as checkIn,
             check_out as checkOut,
             check_note as checkNote
       from tbl_check
      where emp_code = #{empCode} and att_date like #{yearMonth} || '%'
     </select>

     <insert id="insertAttBt"
     parameterType="commute">
     insert into tbl_check
     (att_date,emp_code,check_note)
     values
     (#{attDate},#{empCode},#{checkNote})
     </insert>

	<select id="selectDevPrice"
	resultType="developPrice">
		select
			team_code as teamCode,
			rank_code as rankCode,
			price as price,
			team_name as teamName,
			rank_name as rankName
		from tbl_day_price join tbl_rank using(rank_code) join tbl_team using(team_code)
	</select>


	<select id="selectSalesMonth"
     parameterType="string"
     resultType="sales">
     select document_code as documentCode,
             TO_CHAR(TO_DATE(sales_day, 'YYYYMMDD'), 'YYYY-MM-DD') as salesDay,
             sales_cost as salesCost,
             sales_content as salesContent
       from tbl_sales where sales_day like #{yearMonth} || '%' order by sales_day
     </select>
     
      <select id="selectSpendingMonth"
     parameterType="string"
     resultType="spending">
     select spending_code as spendingCode,
             document_code as documentCode,
             TO_CHAR(TO_DATE(spending_day, 'YYYYMMDD'), 'YYYY-MM-DD')  as spendingDay,
             spending_cost as spendingCost,
             spending_content as spendingContent,
             approve as approve
       from tbl_spending where spending_day like #{yearMonth} || '%' and approve=1 order by spending_day
     </select>

	<select id="selectSalaryHistory"
	parameterType="string"
	resultType="salary">
	select TO_CHAR(s.update_day, 'YYYY-MM-DD') as day,
       	   s.salary as salary,
       	   s.salary_type as salaryType,
       	   e.emp_name as empName,
           (
           select rank_name 
             from tbl_rank 
            where rank_code = e.rank_code
           ) as rankName
  	  from tbl_salary_man s 
  	  join tbl_emp e using(emp_code)
 	 where emp_code = #{empCode}
 	 order by update_day
	</select>
	
	<select id="selectDisciplinary"
	resultType="hashmap">
	select type_name as name,
		   type_code as code
	  from tbl_disciplinary_type
	</select>
	
	<insert id="insertDisciplinaryDi"
	parameterType="disciplinary">
	insert into tbl_disciplinary
	(
		disciplinary_no,
		type_code,
		emp_code,
		dis_reason,
		dis_start,
		dis_end
	)
	values
	(
		TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_disciplinary.NEXTVAL, 4, '0'),
		#{typeCode},
		#{empCode},
		#{disReason},
		sysdate,
		sysdate
	)
	</insert>
	
	<update id="updateEmpDi"
	parameterType="string">
	update tbl_emp
	   set emp_retire = 'y'
	 where emp_code = #{empCode}
	</update>
	
	<insert id="insertDisciplinaryCu"
	parameterType="disciplinary">
	insert into tbl_disciplinary
	(
		disciplinary_no,
		type_code,
		emp_code,
		dis_reason,
		dis_start,
		dis_end,
		reduce_salary
	)
	values
	(
		TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_disciplinary.NEXTVAL, 4, '0'),
		#{typeCode},
		#{empCode},
		#{disReason},
		sysdate,
		#{disEnd},
		#{value}
	)
	</insert>
	
	<update id="updateDisciplinarySalary"
	parameterType="disciplinary">
	update tbl_salary
	   set salary = trunc(salary - (salary * #{value} / 100)),
	       salary_type = 2
	 where emp_code = #{empCode}
	</update>
	
	<insert id="insertDisciplinarySu"
	parameterType="disciplinary">
	insert into tbl_disciplinary
	(
		disciplinary_no,
		type_code,
		emp_code,
		dis_reason,
		dis_start,
		dis_end,
		dis_date
	)
	values
	(
		TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_disciplinary.NEXTVAL, 4, '0'),
		#{typeCode},
		#{empCode},
		#{disReason},
		sysdate,
		sysdate + #{value},
		#{value}
	)
	</insert>
	
	<insert id="insertCheckDisciplinary"
	parameterType="map">
	insert into tbl_check
	(
		att_date,
		emp_code,
		check_note
	)
	values
	(
		#{day},
		#{empCode},
		#{value}
	)
	</insert>
	
	<select id="selectDisciplinaryCheck"
	resultType="disciplinary">
	select disciplinary_no as disciplinaryNo,
		   emp_code as empCode
	  from tbl_disciplinary 
	 where to_char(dis_end,'yyyyMMdd') &lt;= to_char(sysdate,'yyyyMMdd')
	   and dis_check = 'n'
	</select>
	
	<select id="selectSalaryCheck"
	parameterType="string"
	resultType="string">
	select salary 
	  from
	      (
	       select rownum as num, 
	              s.* 
	         from 
	             (
	              select * 
	                from tbl_salary_man 
	               where emp_code = #{empCode} 
	               order by update_day desc
	               ) s
	       ) 
	  where num = 2
	</select>
	
	<update id="returnDisciplinarySalary"
	parameterType="string">
	update tbl_salary
	   set salary = #{salary},
	       salary_type = 4
	 where emp_code = #{empCode}
	</update>
	
	<update id="updateComplateDisciplinary"
	parameterType="disciplinary">
	update tbl_disciplinary
	   set dis_check = 'y'
	 where disciplinary_no = #{disciplinaryNo}
	</update>
	
	<select id="selectAlarmListTotalCount"
	parameterType="string"
	resultType="_int">
	select count(*)
	  from tbl_alarm
	 where emp_code = #{empCode}
	</select>
 
 	<select id="selectEmpSalaryList"
 	resultType="emp">
 	select emp_code as empCode,
     		emp_name as empName,
     		team_name as teamName,
     		(
     		select rank_name 
     		  from tbl_rank 
     		 where rank_code = e.rank_code 
     		) as rankName,
        	(
        	select dept_name 
        	  from tbl_dept 
        	 where dept_code = t.dept_code
        	)as deptName,
        	emp_date as empDate,
           (select salary
             from tbl_salary
             where emp_code = e.emp_code) as salary,
             e.emp_phone as empPhone
       from tbl_emp e
       join tbl_team t using(team_code)
 	</select>
</mapper>
