<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="emp">
 	<select id="loginEmp"
 	parameterType="emp"
 	resultType="emp">
 	select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_pw as empPw,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   dept_code as deptCode
 	  from tbl_emp
 	  join tbl_team using(team_code) 
 	 where emp_id = #{empId} 
 	    
 	</select>
 	
 	<select id="adminChk"
 	parameterType="string"
 	resultType="_int">
 	select count(*)
 	  from tbl_dept_leader
 	 where emp_code = #{empCode}
 	</select>
 	
 	<select id="idCheck"
 	parameterType="string"
 	resultType="_int">
 	select count(*)from tbl_emp where emp_id=#{_string}
 	</select>
 	<insert id="join"
 	parameterType="emp"
 	>
 	insert into tbl_emp (
 	emp_code,
 	emp_id,
 	emp_pw,
 	emp_name,
 	emp_phone,
 	emp_retire
 	
 	)values(
 	TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_emp.NEXTVAL, 4, '0'),
 	#{empId},
 	#{empPw},
 	#{empName},
 	#{empPhone},
 	'n'
 	)
 	</insert>
 	<select id="empWaitList"
 	resultType="emp">
 	select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_pw as empPw,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate
 	  from tbl_emp
 	  where emp_code in (select * from tbl_emp_wait) 
 	</select>
 	
 	<select id="deptList"
 	resultType="dept">
 	select dept_code as deptCode,
 		   dept_name as deptName
 	  from tbl_dept  
 	</select>
 	
 	<select id="teamList"
 	resultType="team">
 	select team_code as teamCode,
 		   dept_code as deptCode,
 		   team_name as teamName
 	  from tbl_team
 	</select>
 	
 	<select id="rankList"
 	resultType="rank">
 	select rank_code as rankCode,
 		   rank_name as rankName
 	  from tbl_rank
 	</select>
 	
 	<update id="approvalEmp"
 	parameterType="emp">
 	update tbl_emp
 	   set team_code = #{teamCode},
 	       rank_code = #{rankCode}
 	 where emp_code = #{empCode}    
 	</update>
 	
 	<insert id="insertSalary"
 	parameterType="map">
 	 insert into tbl_salary
	   (
	   	emp_code,
	   	salary
	   )
  	values
	   (
	   	#{empCode},
	   	#{salary}
	   )
 	
 	</insert>
 	
 	<delete id="deleteWait"
 	parameterType="string">
 	delete 
 	  from tbl_emp_wait
 	 where emp_code = #{empCode}
 	</delete>
 	
 	<insert id="insertAdmin"
 	parameterType="emp">
 	insert into tbl_emp (
 	emp_code,
 	emp_id,
 	emp_pw,
 	emp_name,
 	emp_phone,
 	emp_retire,
 	team_code,
 	rank_code
 	
 	)values(
 	TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_emp.NEXTVAL, 4, '0'),
 	#{empId},
 	#{empPw},
 	#{empName},
 	#{empPhone},
 	#{empRetire},
 	#{teamCode},
 	#{rankCode}
 	)
 	</insert>
</mapper>
