<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="emp">
 	<select id="loginEmp"
 	parameterType="emp"
 	resultType="emp">
 	select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_pw as empPw,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   dept_code as deptCode
 	  from tbl_emp
 	  join tbl_team using(team_code) 
 	 where emp_id = #{empId} 
 	    
 	</select>
 	
 	<select id="adminChk"
 	parameterType="string"
 	resultType="_int">
 	select count(*)
 	  from tbl_dept_leader
 	 where emp_code = #{empCode}
 	</select>
 	
 	<select id="idCheck"
 	parameterType="string"
 	resultType="_int">
 	select count(*)from tbl_emp where emp_id=#{_string}
 	</select>
 	<insert id="join"
 	parameterType="emp"
 	>
 	insert into tbl_emp (
 	emp_code,
 	emp_id,
 	emp_pw,
 	emp_name,
 	emp_phone,
 	emp_retire
 	
 	)values(
 	TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_emp.NEXTVAL, 4, '0'),
 	#{empId},
 	#{empPw},
 	#{empName},
 	#{empPhone},
 	'n'
 	)
 	</insert>
 	<select id="empWaitList"
 	resultType="emp">
 	select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_pw as empPw,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate
 	  from tbl_emp
 	  where emp_code in (select * from tbl_emp_wait) 
 	</select>
 	
 	<select id="deptList"
 	resultType="dept">
 	select dept_code as deptCode,
 		   dept_name as deptName
 	  from tbl_dept  
 	</select>
 	
 	<select id="teamList"
 	resultType="team">
 	select team_code as teamCode,
 		   dept_code as deptCode,
 		   team_name as teamName
 	  from tbl_team
 	</select>
 	
 	<select id="rankList"
 	resultType="rank">
 	select rank_code as rankCode,
 		   rank_name as rankName
 	  from tbl_rank
 	</select>
 	
 	<update id="approvalEmp"
 	parameterType="emp">
 	update tbl_emp
 	   set team_code = #{teamCode},
 	       rank_code = #{rankCode}
 	 where emp_code = #{empCode}    
 	</update>
 	
 	<insert id="insertSalary"
 	parameterType="map">
 	 insert into tbl_salary
	   (
	   	emp_code,
	   	salary
	   )
  	values
	   (
	   	#{empCode},
	   	#{salary}
	   )
 	
 	</insert>
 	
 	<delete id="deleteWait"
 	parameterType="string">
 	delete 
 	  from tbl_emp_wait
 	 where emp_code = #{empCode}
 	</delete>
 	
 	<insert id="insertAdmin"
 	parameterType="emp">
 	insert into tbl_emp (
 	emp_code,
 	emp_id,
 	emp_pw,
 	emp_name,
 	emp_phone,
 	emp_retire,
 	team_code,
 	rank_code
 	
 	)values(
 	TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_emp.NEXTVAL, 4, '0'),
 	#{empId},
 	#{empPw},
 	#{empName},
 	#{empPhone},
 	#{empRetire},
 	#{teamCode},
 	#{rankCode}
 	)
 	</insert>
 	
	<select id="filterEmp"
	parameterType="string"
	resultType="emp">
		select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_pw as empPw,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   rank_name as rankName
 	  from tbl_emp
 	  join tbl_rank using(rank_code) 
 	 where team_code = #{_string} 
	</select>
 	
 	 <select id="chatEmpList"
     parameterType="string"
     resultType="emp">
       select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   dept_code as deptCode,
 		   (select fromEmp.read_count
			  from tbl_chat_group fromEmp
			  JOIN tbl_chat_group toEmp
				ON fromEmp.group_no = toEmp.group_no
			 WHERE fromEmp.emp_code = e.emp_code
               AND toEmp.emp_code = #{empCode}) as readCount
 	  from tbl_emp e
 	  join tbl_team using(team_code)
 	 where emp_code is not null and emp_code != #{empCode}
     </select>
 	<select id="selectChatGroup"
 	parameterType="map"
 	resultType="string">
 	select group_no 
 	  from tbl_chat_group 
 	 where emp_code in (#{from}, #{to}) 
 	 group by group_no
 	having count(emp_code) > 1
 	</select>
 	
 	<select id="getGroupNo" resultType="string">
	select TO_CHAR(SYSDATE, 'YYYYMMDD') || LPAD(seq_chat_group.NEXTVAL, 4, '0') from dual
	</select>
 	
 	
 	<insert id="insertChatGroup"
 	parameterType="map">
 	insert into tbl_chat_group
 	(
 	group_no,
 	emp_code
 	)
 	values(
	#{groupNo}, 		
 	#{empCode}
 	)
 	</insert>
 	
 	<select id="selectChatList"
 	parameterType="string"
 	resultType="chat">
 	select emp_code as empCode,
 		   group_no as groupNo,
 		   msg_gb as chatMsgGb,
 		   msg as chatMsg,
 		   file_name as chatFileName,
 		   file_path as chatFilePath,
 		   msg_date as chatDate,
 		   emp_name as empName
 	  from tbl_chat
 	  join tbl_emp using(emp_code)
 	 where group_no = #{groupNo}
 	</select>
 	
 	<insert id="insertChat"
 	parameterType="chat">
 	insert into tbl_chat
 	(
 	chat_no,
 	group_no,
 	emp_code,
 	msg_gb,
 	msg,
 	file_name,
 	file_path,
 	msg_date
 	)
 	values(
 	TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS') || LPAD(seq_chat.NEXTVAL, 4, '0'),
 	#{groupNo},
 	#{empCode},
 	#{chatMsgGb},
 	#{chatMsg},
 	#{chatFileName},
 	#{chatFilePath},
 	sysdate
 	)
 	</insert>
 	
 	<select id="empManagerList"
 	resultType="emp">
 	select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   dept_code as deptCode,
           salary as salary,
           total_vacation as vacationTotal,
           use_vacation as vacationUse
 	  from tbl_emp
 	  join tbl_team using(team_code)
      join tbl_salary using(emp_code)
      join tbl_vacation_count using(emp_code)
 	 where emp_code is not null
 	</select>
 	
 	<insert id="insertVacation"
 	parameterType="string">
 	insert into tbl_vacation_count
 	(
 	emp_code
 	)
 	values(
 	#{empCode}
 	)
 	</insert>
 	
 	<update id="adminUpdateEmp"
 	parameterType="emp">
 	update tbl_emp
 	   set team_code = #{teamCode},
 	   	   rank_code = #{rankCode}
 	 where emp_code = #{empCode}
 	</update>
 	
 	<update id="updateSalary"
 	parameterType="emp">
 	update tbl_salary
 	   set salary = #{salary}
 	 where emp_code = #{empCode} 
 	</update>
 	
 	<update id="updateVacation"
 	parameterType="emp">
 	update tbl_vacation_count
 	   set total_vacation = #{vacationTotal},
 	       use_vacation = #{vacationUse}
 	 where emp_code = #{empCode} 
 	</update>
 	
 	<insert id="reportCreate"
 	parameterType="dailyReport">
 		insert into tbl_daily_report
 			(
 				report_date,
 				emp_code,
 				report_content
 			)
 			values
 			(
 				sysdate,
 				#{empCode},
 				#{reportContent}
 			)
 	</insert>
 	
 	<update id="chatAddReadCount"
     parameterType="chat">
     update tbl_chat_group
        set read_count = read_count +1
      where group_no = #{groupNo} 
        and emp_code = #{empCode}
     </update>
     
     <update id="chatReSetReadCount"
     parameterType="map">
     update tbl_chat_group
        set read_count = 0
      where group_no = #{groupNo} 
        and emp_code != #{empCode}
     </update>
     
     <select id="dailyReportView"
     parameterType="string"
     resultType="dailyReport">
     	SELECT 
            report_date AS reportDate,
            emp_code AS empCode,
            report_content AS reportContent
        FROM tbl_daily_report
        WHERE report_date = TRUNC(SYSDATE) 
          AND emp_code = #{empCode}
     </select>
     
     <select id="checkReport"
     parameterType="string"
     resultType="int">
     	select 
     		count(*)
     	from tbl_daily_report
     	where report_date = TRUNC(SYSDATE) 
     	and emp_code = #{empCode}
     </select>
     
     <update id="dailyReportUpdate"
     parameterType="string">
     	 UPDATE tbl_daily_report
    SET report_content = #{reportContent}
    WHERE emp_code = #{empCode}
      AND report_date = TRUNC(SYSDATE)	
     </update>
 
     <select id="loadAlarmList"
     parameterType="string"
     resultType="alarm">
      select alarm_no as alarmNo,
             alarm_comment as alarmComment,
     		 ref_url as refUrl,
     		 url_param as urlParam,
     		 alarm_read as alarmRead,
     		 alarm_date as alarmDate 
       from 
           (
            select rownum rnum, a.* 
              from 
                  (
                   select * 
                     from tbl_alarm 
                    where emp_code = #{empCode} 
                    order by alarm_date desc
                  ) a 
            )
           where rnum between 1 and 10
     </select>
     
     <update id="alarmRead"
     parameterType="string">
     update tbl_alarm
        set alarm_read = 'y'
      where alarm_no = #{alarmNo}
     </update>
     
     <select id="chkOnWorkToday"
     parameterType="map"
     resultType="_int">
     select count(*)
       from tbl_check
      where att_date = #{day} and emp_code = #{empCode}
     </select>
     
     <insert id="insertOnWork"
     parameterType="string">
     insert into tbl_check
     (
     	att_date,
     	emp_code,
     	check_in
     )
     values
     (
     	TO_CHAR(SYSDATE, 'YYYYMMDD'),
     	#{empCode},
     	TO_CHAR(SYSDATE, 'HH24MISS')
     )
     </insert>
     
      <select id="selectToday"
     parameterType="map"
     resultType="commute">
     select att_date as attDate,
     		emp_code as empCode,
     		check_in as onWork,
     		check_out as offWork,
     		check_note as checkNote
       from tbl_check
      where att_date = #{day} and emp_code = #{empCode}
     </select>
     <update id="updateOffWork"
     parameterType="map">
     update tbl_check
        set check_out = TO_CHAR(SYSDATE, 'HH24MISS')
      where att_date = #{day} and emp_code = #{empCode}
     </update>
     
     <update id="updateEmp"
     parameterType="emp">
     update tbl_emp
        set emp_name = #{empName},
         	emp_phone = #{empPhone}
      where emp_code = #{empCode}
     </update>
     
     <select id="selectEmp"
     parameterType="string"
     resultType="emp">
     select emp_code as empCode,
 		   team_code as teamCode,
 		   rank_code as rankCode,
 		   emp_id as empId,
 		   emp_pw as empPw,
 		   emp_name as empName,
 		   emp_phone as empPhone,
 		   emp_retire as empRetire,
 		   emp_date as empDate,
 		   dept_code as deptCode
 	  from tbl_emp
 	  join tbl_team using(team_code) 
 	 where emp_code = #{empCode} 
     </select>
     
     <update id="updatePw"
     parameterType="emp">
     update tbl_emp
        set emp_pw = #{empPw}
      where emp_code = #{empCode}
     </update>
     
     <select id="selectDevelopsPrice"
     resultType="developPrice">
     select dept_code as deptCode, 
             dept_name as deptName, 
             team_code as teamCode, 
             team_name as teamName, 
             rank_code as rankCode, 
             rank_name as rankName, 
             price as price 
       from tbl_day_price 
       join tbl_team using(team_code) 
       join tbl_rank using(rank_code) 
       join tbl_dept using(dept_code)
       where dept_code in ('RI','DD') 
     </select>
     
     <select id="selectDevelopPriceChk"
     parameterType="developPrice"
     resultType="int">
     select count(*)
       from tbl_day_price
      where team_code = #{teamCode} and rank_code = #{rankCode}
     </select>
     
     <update id="updateDevelopPrice"
     parameterType="developPrice">
     update tbl_day_price
        set price = #{price}
      where team_code = #{teamCode} and rank_code = #{rankCode} 
     </update>
     
     <insert id="insertDevelopPrice"
     parameterType="developPrice">
     insert into tbl_day_price
     (
     team_code,
     rank_code,
     price
     )
     values
     (
     #{teamCode},
     #{rankCode},
     #{price}
     )
     </insert>
</mapper>
